{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div style="width:1500px; max-width:100%; margin:0 auto; display:flex; gap:1em">
	<a href="{% url 'launcher' %}" class="btn btn-default" style="margin-bottom:0.5em">
		<i class="glyphicon glyphicon-chevron-left"></i> &nbsp;Back to Launcher
	</a>
	<a href="/settings/inference/" class="btn btn-default" style="margin-bottom:0.5em">
		<i class="glyphicon glyphicon-cog"></i> &nbsp;Inference Settings
	</a>
</div>
<br>
<div>
	<div style="position:relative; width:1500px; max-width:100%; margin:0 auto">
		<div id="game-container" style="text-align: center"></div>

		<!-- Map zoom controls, overlaid on the top-right of the map. -->
		<div style="position:absolute; top:10px; right:10px; z-index:10; display:flex; flex-direction:column; gap:6px">
			<button type="button" class="btn btn-default" title="Zoom in" onclick="zoomCamera(1.25)" style="width:42px; height:42px; font-size:1.4em; font-weight:bold; padding:0">+</button>
			<button type="button" class="btn btn-default" title="Zoom out" onclick="zoomCamera(0.8)" style="width:42px; height:42px; font-size:1.4em; font-weight:bold; padding:0">&minus;</button>
			<button type="button" class="btn btn-default" title="Reset zoom" onclick="resetZoom()" style="width:42px; height:42px; font-size:0.9em; padding:0">1:1</button>
		</div>
	</div>

	<div style="width:55%; margin: 0 auto; margin-top:4.5em">
		<h3 style="margin-bottom:-0.5em; font-size:1.5em">Current Time:</h3>
		<div class="row">
			<div class="col-md-8" id="game-time" style="">
				<h2><span id="game-time-content"></span></h2> 
			</div>
			<div class="col-md-4">
				
				<h2 style="text-align: right; {% if mode == 'simulate' %} display: none {% endif %}">
					<button id="play_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-play"></i> &nbsp;Play</strong>
				  </button>

				  <button id="pause_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-pause"></i> &nbsp;Pause</strong>
				  </button>

				  {% if mode == 'replay' %}
				  <button id="stop_button" type="button" class="btn btn-default" title="Stop playback, keep position">
				    <strong style="font-size:1.2em"><i class="glyphicon glyphicon-stop"></i> &nbsp;Stop</strong>
				  </button>
				  <button id="restart_button" type="button" class="btn btn-default" title="Seek to step 0 and play">
				    <strong style="font-size:1.2em"><i class="glyphicon glyphicon-repeat"></i> &nbsp;Restart</strong>
				  </button>
				  {% endif %}

				</h2>

			</div>
		</div>

		{% if mode == 'replay' %}
		<div class="row" style="margin-top:1em">
			<div class="col-md-3">
				<label for="replay_speed" style="font-weight:bold">Speed</label>
				<select id="replay_speed" class="form-control">
					<option value="1">1x</option>
					<option value="2" selected>2x</option>
					<option value="3">4x</option>
					<option value="4">8x</option>
					<option value="5">16x</option>
					<option value="6">32x</option>
				</select>
			</div>
			<div class="col-md-6">
				<label for="replay_scrubber" style="font-weight:bold">
					Step <span id="replay_max_step_label">{{ max_step }}</span>
				</label>
				<input type="range" id="replay_scrubber" min="0" max="{{ max_step }}" value="{{ step }}" style="width:100%">
			</div>
			<div class="col-md-3">
				<label for="replay_time_jump_input" style="font-weight:bold">Jump to time (e.g. 07:00)</label>
				<div class="input-group">
					<input type="text" id="replay_time_jump_input" class="form-control" placeholder="HH:MM">
					<span class="input-group-btn">
						<button id="replay_time_jump_button" type="button" class="btn btn-default">Go</button>
					</span>
				</div>
			</div>
		</div>
		{% endif %}

		<br>
		<hr style="border-color:#999999">
		<br>

		{% for p_name, p_name_os in persona_names %}
			<div class="media" style="background-color:#EEEEEE; padding:1em; padding-left:3.5em; padding-right:2em; border-radius:10px">
			  <div class="media-left media-middle">
			    <a href="#">
			      <img class="media-object" src="{% static 'img/atlas.png' %}" style="width:5em">
			    </a>
			  </div>
			  <div class="media-body" style='padding-left:3em; padding-top:0.5em; padding-bottom:1em'>
			  	<div class="row">
			    	<h2 class="col-md-8" id="name__{{ p_name_os }}" style="margin-bottom:0.8em; font-size:1.85em; ">
			    		<a href="javascript:void(0)" onclick="goToPersona('{{p_name}}')" title="Center the map on {{p_name}}" style="color:inherit; text-decoration:none">{{p_name}}</a> &nbsp;&nbsp;
			    		<a href="javascript:void(0)" onclick="goToPersona('{{p_name}}')" title="Center the map on {{p_name}}" style="font-size:0.6em"><i class="glyphicon glyphicon-map-marker"></i> Locate</a>
			    		&nbsp;
			    		<a href="javascript:void(0)" onclick="openStateDetails('{{ p_name_os }}')" style="font-size:0.6em">State Details</a>
			    	</h2>
			    </div>
			    <div style="">
					  <p style="font-size:1.2em"><strong>Current Action:</strong> <br><span id="current_action__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>Location:</strong> <br><span id="target_address__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>Current Conversation:</strong> <br><span id="chat__{{ p_name_os }}"></span></p>
					</div>
			  </div>
			</div>	
			<br>
		{% endfor %}




		

	</div>
</div>

  



<!-- Click-to-inspect popout: shows what a clicked persona is doing/thinking. -->
<div id="persona_popout" style="display:none; position:fixed; top:90px; right:24px; width:360px; max-height:78vh; overflow-y:auto; background:#fff; border:2px solid #333; border-radius:12px; box-shadow:0 6px 24px rgba(0,0,0,0.3); z-index:1000; padding:1.2em">
	<div style="display:flex; justify-content:space-between; align-items:center; border-bottom:1px solid #ccc; padding-bottom:0.5em; margin-bottom:0.8em">
		<h3 id="persona_popout_title" style="margin:0; font-size:1.4em"></h3>
		<button type="button" onclick="closePersonaPopout()" class="btn btn-default btn-sm" style="font-weight:bold; line-height:1">&times;</button>
	</div>
	<div id="persona_popout_body" style="font-size:1.0em; line-height:1.45"></div>
</div>

<div style="padding-bottom:15em"> </div>


<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js'></script>
{% include 'home/main_script.html' %}
{% endblock content %}

